.logo{
    font-family: 'Jua', sans-serif;
    position: absolute;
    top: 0;
    left: 1rem;
    /* font-size: 1rem; */
}
.chats{
    z-index: -1;
}
.voices.true{
    width: 40%;
}
.chats.true{
    width: 60%;
    height: 100%;
    z-index: 1;
}
.user{
    width: 120px;
    height: 120px;
}
.image{
width: 140px;
/* height: 844px; */
/* flex-shrink: 0; */
}